* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-style: normal;
    font-family: 'Ubuntu';
    font-size: 16px;
    color: #333;
}

.container {
    max-width: 1490px;
    flex-shrink: 0;
    margin: 0 auto;
    padding: 0;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    font-weight: bold;
}

ul {
    list-style: none;
}

img {
    flex-shrink: 0;
    max-width: 100%;
    height: auto;
}

button {
    border: none;
    cursor: pointer;
}

body {
    background: #F7F7F8;
}