* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  font-style: normal;
  font-family: "Ubuntu";
  font-size: 16px;
  color: #333;
}

.container {
  max-width: 1490px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 0 auto;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: bold;
}

ul {
  list-style: none;
}

img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  cursor: pointer;
}

body {
  background: #F7F7F8;
}

/* be-vietnam-pro-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/be-vietnam-pro-v11-latin-regular.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* be-vietnam-pro-500 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/be-vietnam-pro-v11-latin-500.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* be-vietnam-pro-600 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/be-vietnam-pro-v11-latin-600.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
.main_header {
  padding-bottom: 109px;
}

.header_top__container {
  max-width: 1690px;
  margin: 0 auto;
  border-radius: 8px;
  background: #FF9500;
}

.header_top__title {
  color: #FFF;
  font-family: Be Vietnam Pro;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
  padding: 7px;
  margin-right: 23px;
  margin-top: 14px;
  margin-bottom: 14px;
}

.header_top__icon {
  vertical-align: middle;
}

.header_container {
  max-width: 1490px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_item {
  display: inline-block;
  margin-right: 26px;
}

.header_icon {
  margin-right: 50px;
}

.header_link {
  color: #262626;
  font-family: Be Vietnam Pro;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}

.header_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.header_btn {
  color: #262626;
  font-family: Be Vietnam Pro;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  background-color: transparent;
}

.orange_btn {
  border-radius: 8px;
  background: #FF9500;
  color: #FFF;
  padding: 14px 34px;
  border: none;
}

.footer {
  max-width: 100%;
  background-color: #FFF;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_link {
  color: #262626;
  font-family: Be Vietnam Pro;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}

.footer_img {
  margin-bottom: 20px;
  vertical-align: middle;
}

.footer_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 200px;
}

.footer_right__link {
  color: #59595A;
  font-family: Be Vietnam Pro;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}

.active {
  color: #262626;
  font-family: Be Vietnam Pro;
  font-size: 20px;
  font-weight: 600;
  line-height: 150%;
}

.transparent {
  color: transparent;
}

.social_media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 14px;
}

.hero {
  padding-bottom: 80px;
}

.hero_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 150px;
}

.hero_title {
  color: #262626;
  font-family: Be Vietnam Pro;
  font-size: 48px;
  font-weight: 600;
  line-height: 150%;
}

.hero_text {
  max-width: 748px;
  color: #59595A;
  font-family: Be Vietnam Pro;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}

.hero_bottom__title {
  color: #333;
  font-family: Be Vietnam Pro;
  font-size: 48px;
  font-weight: 500;
  line-height: 150%;
  margin-bottom: 4px;
}

.hero_bottom__text {
  color: #59595A;
  font-family: Be Vietnam Pro;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}

.achievements_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  padding-bottom: 177px;
}

.card {
  border-radius: 12px;
  background: #FFF;
  padding: 50px;
  margin-bottom: 30px;
}

.card_img {
  margin-bottom: 30px;
}

.card_title {
  color: #262626;
  font-family: Be Vietnam Pro;
  font-size: 24px;
  font-weight: 500;
  line-height: 150%;
  margin-bottom: 14px;
}

.card_text {
  color: #59595A;
  font-family: Be Vietnam Pro;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}

.goals_content {
  max-width: 1490px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.join {
  max-width: 1490px;
  margin: 0 auto;
  background-color: #FFF;
  padding: 80px;
  margin-bottom: 150px;
}

.join_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.join_title {
  color: #262626;
  font-family: Be Vietnam Pro;
  font-size: 48px;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 20px;
}

.join_span {
  color: #FF9500;
}

.join_text {
  color: #4C4C4D;
  font-family: Be Vietnam Pro;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}/*# sourceMappingURL=main.css.map */