.footer {
    max-width: 100%;
    background-color: #FFF;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_link {
    color: #262626;
    font-family: Be Vietnam Pro;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}

.footer_img {
    margin-bottom: 20px;
    vertical-align: middle;
}

.footer_right {
    display: flex;
    align-items: center;
    gap: 200px;
}

.footer_right__link {
    color: #59595A;
    font-family: Be Vietnam Pro;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}

.active {
    color: #262626;
    font-family: Be Vietnam Pro;
    font-size: 20px;
    font-weight: 600;
    line-height: 150%;
}

.transparent {
    color: transparent;
}

.social_media {
    display: flex;
    gap: 14px;
}